
[Unit]
Description=Pi Somfy Shutter Service
After=network-online.target mosquitto.service
Before=hass.service

[Service]
User=root
ExecStart=sudo /home/Pi-SomfyEnv/bin/python /home/Pi-SomfyCode/operateShutters.py -c /home/Pi-SomfyCode/operateShutters.conf -a -m
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=exec


[Install]
WantedBy=multi-user.target